  <footer class="Footer">
    <small>© 2017 kazaxy</small>
  </footer>
</div>
<script>
  if (navigator.serviceWorker) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('sw.js', { scope: '/' })
        .then(registration => navigator.serviceWorker.ready)
        .then(resistration => resistration)
        .catch(err => {
          throw new Error(err);
        });
    });
  }
</script>
{{ if .IsPage}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const blocks = document.querySelectorAll('pre code');
      for (let block of blocks) {
        hljs.highlightBlock(block);
      }
    });
  </script>
{{ end }}
</body>
</html>